.header{
    background-color: #ccc;
    width: 100%;
    height: auto;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar{
    background-color: #999;
    width: 100%;
    height: auto;
    float: left;
}
.inicial{
    background-color: #ccc;
    width: 100%;
    height: auto;
    float: left;
}
.content{
    background-color: #ccc;
    width: 50%;
    height: auto;
    float: left;
}
.content2{
    background-color: #ccc;
    width: 50%;
    height: 100%;
    float: left;
}
.footer{
    background-color: #999;
    width: 100%;
    height: auto;
    float: left;
}

@media screen and (max-width:600) {
    .header, .navbar, .content, .footer{
        width: 100%;
    }
}